<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADD</title>
</head>
<body>
    <div class="contant">
        <h1>ADD YOUR T-SHIRT</h1>
        <form method="POST" class="form">
            <div class="add">
                <label for="add_shirt">ADD T-SHIRT URL</label>
                <input type="text" name="shirt" id="add_shirt">
            </div>
            <div class="add">
                <label for="add_size">INPUT YOUR SIZE</label>
                <input type="text" name="size" id="add_size">
            </div>
            <div class="add">
                <label for="add_remarks">REMARKS</label>
                <input type="text" name="remarks" id="add_remarks">
            </div>
        </div>
    </form>
    
</body>
</html>